<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>943237404479-ao5p1m0lrk5h09gdvhtioruii06n3vok.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943237404479-ao5p1m0lrk5h09gdvhtioruii06n3vok</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>943237404479-hackheq7m9lm7htv6g44er6tsmtd6rfi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCuB_ekYiBJgcnnqKwpG9eCJysxcGrnjiw</string>
	<key>GCM_SENDER_ID</key>
	<string>943237404479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.bondiomeet</string>
	<key>PROJECT_ID</key>
	<string>bondiomeet-387104</string>
	<key>STORAGE_BUCKET</key>
	<string>bondiomeet-387104.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943237404479:ios:030f780ff955b64ddd658a</string>
</dict>
</plist>